body {
    color: black;
    background: rgba(128, 128, 128, 0.815);
    margin: 0px;
}

header {
    border-bottom: solid 2px rbg(42, 122, 228);
    padding: 20px;
    font-size: 30px;
    color: rgb(16, 65, 129);
}

section {
    background: rgb(251, 250, 252);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}